<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
</startup>
<appSettings>
      	<add key="lopid" value="10005" />
      	<add key="lopnavn" value="Uglarennet 2020" />
      	<add key="logfolder" value="c:\temp\" />
      	<add key="liveresCheckBox" value="1" />
      	<add key="SoundCheckBox" value="1" />
      	<add key="LiveResURL" value = "https://api.freidig.idrett.no/" />
	<!-- "127.0.0.1/api/" -->
   </appSettings>
</configuration>